@import "./variables.scss";


.footer {
    background: $main-color;
    padding: 50px 0;
    padding-bottom: 0px;

    .logo {
        text-align: center;
        margin-bottom: 10px;

        img {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 0.95em;
            color: white;
        }
    }

    h4 {
        font-weight: 500;
        font-size: 1.25em;
        color: white;
        margin-bottom: 20px;

    }

    ul {
        list-style-type: none;

        li {
            margin: 10px 0;

            a {
                color: white;
                font-size: .96em;
            }

            i {
                color: white;
                margin-right: 20px;
                width: 20px;
            }
        }
    }

    &__author {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #03272908;
        padding: 10px 0;
        flex-wrap: wrap;

        p {
            margin-bottom: 0;
            font-weight: 500;
            font-size: .8em;
            color: white;
            opacity: .5;
        }

    }
}

.header {
    background: $main-color;

    button {
        &:focus {
            outline: none;
        }
    }

    .container {
        padding-left: 00px;
        padding-right: 10px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .logo {
            img {
                width: 48px;

                @media screen and (max-width: 568px) {
                    width: 40px;
                }
            }
        }

        .menu {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 0 20px;

                    @media screen and (max-width: 720px) {
                        margin: 0 20px 0 0;
                    }

                    a {
                        font-size: 16px;
                        font-weight: bold;
                        color: white;

                        &:hover {
                            text-decoration: none;
                        }

                        @media screen and (max-width: 720px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        button {
            background: transparent;
            border: none;
        }
    }
}

.navbarOnTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.pagination {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: space-around;
    width: fit-content;
    align-items: center;

    img {
        margin: 0 10px;
    }

    button.box {
        margin: 0 5px;
        width: 20px;
        height: 20px;
        color: white;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        background-color: #BDBDBD;

        &:hover,
        &.active {

            background-color: $main-color;
        }
    }

    button.dot {
        margin: 0 5px;
        width: 7px;
        height: 7px;
        color: white;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        background-color: #BDBDBD;

        &:hover,
        &.active {

            background-color: $main-color;
        }
    }
}